.app-navigation {

}

.app-navigation__items {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.app-navigation__item {

}

.app-navigation__link {
  display: block;
  padding: 1.5rem;
  font-size: 2rem;
  color: $color-primary;
  text-decoration: none;
}

.app-navigation__link:hover {
  background-color: $color-primary;
  color: $color-white;
}