$color-white: #fff;
$color-black: #000;
$color-primary: orangered;
$color-secondary: lightblue;

$color-lightgreen: lightgreen;

:root {
  --color-white: $color-white;
  --color-black: $color-black;
  --color-primary: $color-primary;
  --color-secondary: $color-secondary;
}